<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
</head>
<body>

    <div class="card" style="width: 30%; margin: 10px auto;">
        <div class="card-header text-center"><h2>관리자 페이지</h2></div>
        <div class="card-body">
            <button type="button" class="btn btn-light"
                    style="margin-bottom: 1rem; display: block" onclick="location.href = '/admin/regist';">아이템 등록</button>

            <button type="button" class="btn btn-light"
                    style="margin-bottom: 1rem; display: block" onclick="location.href = '/admin/update';">아이템 목록&옵션추가</button>


            <button type="button" class="btn btn-light"
                    style="margin-bottom: 1rem; display: block"onclick="location.href = '/main';">메인 화면</button>
        </div>
    </div>

</body>
</html>