<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div class="panel panel-default">
    <div class="panel-heading">Admin</div>
    <div class="panel-body">
        <button type="button" class="btn btn-light" onclick="location.href = '/admin/regist';">아이템 등록</button>
        <button type="button" class="btn btn-light" onclick="location.href = '/admin/#';">재고 관리</button>
    </div>
</div>

</body>
</html>