<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="card" style="margin-top: 1rem; margin-bottom: 1rem;">
        <div class="card-header bg-info text-center text-white"><h2>상품 등록</h2></div>
        <form method="post" action="/admin/regist" style="padding: 1.5rem" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Name">상품명</label>
                <input type="name" class="form-control" id="Name" name="name" placeholder="상품명">
            </div>
            <div class="form-group">
                <label for="price">가격</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="가격">
            </div>
            <div class="form-group">
                <label for="stock">수량</label>
                <input type="number" class="form-control" id="stock" name="stock"value="10" step="1" min="0" max="9999">
            </div>
            <div class="form-group">
                <label for="categoryId">Select Number</label>
                <select class="form-control" id="categoryId" name="categoryId">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="Message">상품 설명:</label>
                <textarea class="form-control" id="Message" name="description" rows="3"></textarea><br>
            </div>
            <div class="form-group">
                <label for="image1">image1 : </label><input type="file" name="image" id="image1">
            </div>

            <div class="form-group">
                 <label for="image2">image2 : </label><input type="file" name="image" id="image2">
            </div>

                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}" />
                <br>

            <button type="submit" class="btn btn-info text-white" style="margin: 0 auto;">상품등록</button>
        </form>
    </div>


</div>
</body>
</html>