<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

  <th:block layout:fragment="html_head">
    <title>Cart</title>
    <script>
        $(document).ready(function(){

        });

        function cartUpdate(cartId) {
            var quantity = $('#quantity_'+cartId).val();
            var itemprice = $('#itemprice_'+cartId).val();
            var JSONObject = {'cartId' : cartId, 'quantity' : quantity};

            console.log(cartId);
            console.log(quantity)
            $.ajax({
                url: '/api/cart',
                method: 'put',
                data: JSON.stringify(JSONObject),
                async: true,
                contentType: "application/json",
                success: function (comment) {
                    var totalprice = itemprice * quantity;
                    $('#totalprice_'+cartId).text(totalprice);
                    $('#quantity_'+cartId).text(quantity);
                },
                error: function (err) {
                    console.log(err.toString());
                }
            });

        }

        function cartDelete(cartId){
            $.ajax({
                url: '/api/cart/'+cartId,
                method: 'delete',
                success: function (comment) {
                    $('#cart_'+cartId).hide();
                },
                error: function (err) {
                    console.log(err.toString());
                }
            });
        }


    </script>
  </th:block>
  <body>
  <th:block layout:fragment="content_body">
    <header th:include="fragments/main/main_headmenu" class="site-navbar" role="banner"></header>
  <div class="site-wrap">
  <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/cart">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
              </thead>
              <tbody>

              <tr th:each="cart : ${carts}" th:id="'cart_'+${cart.id}">
                <td class="product-thumbnail">
                  <img th:if="${#arrays.length(cart.item.imageFiles) > 0}" th:src="'/items/images/'+ ${cart.item.imageFiles[0].id}" alt="Image" class="img-fluid">
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black" th:text="${cart.getItem().name}"></h2>
                </td>
                <td th:text="${cart.getItem().price}+' 원'" ></td>
                <input type="hidden" th:id="'itemprice_'+${cart.id}" th:value="${cart.getItem().price}">
                <td>
                  <div class="input-group mb-3" style="max-width: 120px; margin: 0 auto;">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                    </div>
                    <input type="hidden" th:value="${cart.getId()}" name="cartId" id="cartId">
                    <input type="text" class="form-control text-center" th:value="${cart.getQuantity()}" th:id = "'quantity_'+${cart.id} " name="quantity" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                    </div>

                  </div>

                  <button class="btn btn-primary btn-sm cartUpdate" type="button"
                          th:attr="onclick=|cartUpdate('${cart.id}')|" >수정</button>
                 <!-- <button class="btn btn-primary btn-sm cartUpdate" type="button"
                     th:onclick="'javascript:update('\'  + ${cart.id}+'\')'">수정</button>-->

                </td>
                <td th:text="${cart.getQuantity() * cart.getItem().price}" th:id="'totalprice_'+${cart.id}"></td>
                <td><a th:attr="onclick=|cartDelete('${cart.id}')|" class="btn btn-primary btn-sm">X</a></td>
              </tr>


              </tbody>
            </table>
          </div>


          <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-6 mb-3 mb-md-0">
                <button class="btn btn-primary btn-sm btn-block" type="submit">Update Cart</button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-outline-primary btn-sm btn-block" >Continue Shopping</button>
              </div>
            </div>


          </div>
          </form>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-3"><!--
                  <div class="col-md-6">
                    <span class="text-black">Subtotal</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black" id = "totalPrice_" th:value="${totalPrice}"></strong>
                  </div>
                </div>-->
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black" id = "totalPrice" th:value="${totalPrice}"></strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='checkout.html'">Proceed To Checkout</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </th:block>
    
  </body>
</html>