<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

  <th:block layout:fragment="html_head">
    <title>Cart</title>
    <script>
        $(document).ready(function(){
            // $('#orderBtn').click(function () {
            //     var orderurl = "/order?";
            //
            //     $("input[name=selected]:checked").each(function() {
            //         orderurl += 'cartId='+this.val();
            //         orderurl += '&';
            //     });
            //
            //     var slice = orderurl.slice(0,-1);
            //
            //     // if(selectedCart.length == 0){
            //    //     alert("상품을 선택하세요.");
            //    //     return;
            //    // }
            //
            //     window.location.href = orderurl;
            // });
        });

        function cartUpdate(cartId) {
            var quantity = $('#quantity_'+cartId).val();
            var itemprice = $('#itemprice_'+cartId).val();
            var JSONObject = {'cartId' : cartId, 'quantity' : quantity};

            $.ajax({
                url: '/api/cart',
                method: 'put',
                data: JSON.stringify(JSONObject),
                async: true,
                contentType: "application/json",
                success: function (comment) {
                    var totalprice = itemprice * quantity;
                    $('#totalprice_'+cartId).text(totalprice+'원');
                    $('#quantity_'+cartId).text(quantity);

                },
                error: function (err) {
                    console.log(err.toString());
                }
            });

        }

        function cartDelete(cartId){
            $.ajax({
                url: '/api/cart/'+cartId,
                method: 'delete',
                success: function (comment) {
                    $('#cart_'+cartId).hide();
                },
                error: function (err) {
                    console.log(err.toString());
                }
            });
        }

        $(function(){
            $("#checkAll").click(function(){
                var chk = $(this).is(":checked");//.attr('checked');
                if(chk) $(".cartCheckBox").prop('checked', true);
                else  $(".cartCheckBox").prop('checked', false);
            });
        });

        function check() {
            var count = $("input[name=selected]:checked").length;

            if(count==0) {
                alert("구매할 상품을 선택해주세요 !");
                return false;
            }
            else return true;

        }

        // //값 변경시 총 가격 수정
        // $("#cartTable").on("propertychange change keyup paste input", function() {
        //     var totalCartPrice = 0;
        //     $('#cartTable tr').each(function() {
        //         var checkedCart = $(this).find(".cartCheckBox").is(":checked");
        //         if(checkedCart){
        //             var checkedPrice = parseInt($(this).find(".totalprice").text());
        //             totalCartPrice = totalCartPrice + checkedPrice;
        //         }
        //     });
        //
        //     $("#totalPrice").text(totalCartPrice);
        //
        // });

    </script>
  </th:block>
  <body>
  <th:block layout:fragment="content_body">
    <header th:include="fragments/main/main_headmenu" class="site-navbar" role="banner"></header>
  <div class="site-wrap">
  <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/cart">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <form class="col-md-12" method="post" action="/order/orderform" onsubmit="return check()">
          <div class="site-blocks-table">
            <table class="table table-bordered" id="cartTable">
              <thead>
              <tr>
                <th><input type="checkbox" id="checkAll"></th>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
              </thead>
              <tbody>

              <tr th:each="cart : ${carts}" th:id="'cart_'+${cart.id}">
                <td>
                  <input type="checkbox" name="selected" class="cartCheckBox" th:value="${cart.id}">
                </td>
                <td class="product-thumbnail">
                  <img th:if="${#arrays.length(cart.item.imageFiles) > 0}" th:src="'/items/images/'+ ${cart.item.imageFiles[0].id}" alt="Image" class="img-fluid">
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black" th:text="${cart.getItem().name}"></h2><br>
                  <span style="color: #8c92a0;" th:text="${cart.getPhoneType()}"></span>
                </td>
                <td th:text="${cart.getItem().price}+' 원'" ></td>
                <input type="hidden" th:id="'itemprice_'+${cart.id}" th:value="${cart.getItem().price}">
                <td>
                  <div class="input-group mb-3" style="max-width: 120px; margin: 0 auto;">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                    </div>

                    <input type="text" min="1" class="form-control text-center" th:value="${cart.getQuantity()}"
                           th:id = "'quantity_'+${cart.id} "  placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                    </div>

                  </div>

                  <button class="btn btn-primary btn-sm cartUpdate" type="button"
                          th:attr="onclick=|cartUpdate('${cart.id}')|" >수정</button>


                </td>
                <td th:text="${cart.getQuantity() * cart.getItem().price}+'원'" th:id="'totalprice_'+${cart.id}" class="totalprice"></td>
                <td><a th:attr="onclick=|cartDelete('${cart.id}')|" class="btn btn-primary btn-sm">X</a></td>
              </tr>


              </tbody>
            </table>
          </div>


          <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-6 mb-3 mb-md-0">
                <button class="btn btn-primary btn-sm btn-block" type="submit">Update Cart</button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-outline-primary btn-sm btn-block" >Continue Shopping</button>
              </div>
            </div>


          </div>
          <!--</form>-->
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                   <!-- <h3 class="text-black h4 text-uppercase">Cart Totals</h3>-->
                  </div>
                </div>
                <!--<div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Subtotal</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black" id = "totalPrice_" th:value="${totalPrice}"></strong>
                  </div>
                </div>-->

                <!--<div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black" id = "totalPrice">0</strong>
                  </div>
                </div>-->

                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-lg py-3 btn-block" id = "orderBtn" >주문하기</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>

  </th:block>
    
  </body>
</html>