<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


        <div class="site-navbar-top">
            <!-- 로그인 정보 -->
            <div sec:authorize="isAuthenticated()" style="margin-bottom: 5px" class="col-11 col-md-11 text-right ">
                <span th:text="${#authentication.principal.name}"></span> 님 환영합니다. &nbsp;|&nbsp;
                <a th:href="@{/logout}">Sign Out</a>
            </div>
            <div sec:authorize="isAnonymous()" style="margin-bottom: 5px" class="col-11 col-md-11 text-right">
                <a th:href="@{/users/login}" class="not-icon">Login</a> &nbsp;|&nbsp;
                <a th:href="@{/users/join}" class="not-icon">Join</a>
            </div>

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                        <form action="/main" class="site-block-top-search">
                            <input type="hidden" name="searchKind" value="NAME_OR_DESCRIPTION_SEARCH">
                            <span class="icon icon-search2"></span>
                            <input type="text" class="form-control border-0" name="searchStr" placeholder="Search">
                        </form>
                    </div>

                    <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                        <div class="site-logo">
                            <a href="/main" class="js-logo-clone">MINI SHOP</a>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 order-3 order-md-3 text-right">

                        <div class="site-top-icons">
                            <ul>
                                <li><a href="/users/login"><span class="icon icon-person"></span></a></li>
                                <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                                <li>
                                    <a href="/cart" class="site-cart">
                                        <span class="icon icon-shopping_cart"></span>
                                        <!--<span class="count">2</span>-->
                                    </a>
                                </li>
                                <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <nav class="site-navigation text-right text-md-center" role="navigation">
            <div class="container">
                <ul class="site-menu js-clone-nav d-none d-md-block">


                    <li th:classappend="${selectedCategory.id == 0 ? 'active' : ''}"><a href="/main">All</a></li>
                    <li th:each="category : ${categories}" th:classappend="${selectedCategory.id == category.id ? 'active' : ''}">
                        <a th:href="'/main?categoryId='+${category.id}" th:text="${category.name}"></a>
                    </li>

                </ul>
            </div>
        </nav>


</html>
